{% extends "tourny/base.html" %}

{% block main %}

<h2>Competitors</h2>

<p>The following people are currently registered for the tournament.
For further registration information (address, phone number, etc.) on
a person, or to change any of their registration details, click on
their name.</p>

{% if competitors %}
  <table>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Gen</th>
      <th>Age</th>
      <th>Kata</th>
      <th>Kumite</th>
      <th>Team Kumite</th>
      <th>Boston Battle</th>
      <th>Waiver?</th>
      <th>Paid?</th>
    </tr>
    {% for competitor in competitors %}
      <tr class="{%cycle 'green' 'blue' %}">
	<td>{{ forloop.counter }}</td>
        <td><a href="{% url 'tourny:competitor_detail' competitor.pk %}">{{ competitor.name }}</a></td>
	<td>{{ competitor.email }}</td>
	<td>{{ competitor.gender }}</td>
	<td>{{ competitor.age }}</td>
	<td>
	  {% if competitor.kata == 'A' %}Adv{% endif %}
	  {% if competitor.kata == 'I' %}Int{% endif %}
	  {% if competitor.kata == 'B' %}Beg{% endif %}
	</td>
	<td>
	  {% if competitor.kumite == 'A' %}Adv{% endif %}
	  {% if competitor.kumite == 'I' %}Int{% endif %}
	  {% if competitor.kumite == 'B' %}Beg{% endif %}
	</td>
	<td>{{ competitor.team_kumite_team_name }}</td>
	<td>{{ competitor.boston_battle_team_name }}</td>
	<td>{% if competitor.waiver %}Y{% else %}N{% endif %}</td>
	<td>{% if competitor.paid %}Y{% else %}N{% endif %}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No registered competitors yet!</p>
{% endif %}

<br>

{% endblock %}
