{% extends "tourny/base.html" %}

{% block main %}

<h2>Event Detail - {{ event }}</h2>

{# ================================================================== #}
{#                  Event has been created.                           #}
{# ================================================================== #}
{% if event.state == 'C' %}

<p>The following people are preregistered for this event, and checked in:</p>
<div class="centered">
{% if competitors_prereg_check %}
  <table>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Rank</th>
      <th>Years Training</th>
      <th>School</th>
      <th>Waiver?</th>
      <th>Paid?</th>
    </tr>
  {% for competitor in competitors_prereg_check %}
    <tr class="{%cycle 'green' 'blue' %}">
      <td><a href="{% url 'tourny:competitor_detail' competitor.pk %}">{{ competitor.name }}</a></td>
      <td>{{ competitor.gender }}</td>
      <td>{{ competitor.age }}</td>
      <td>{{ competitor.rank }} {{ competitor.kyu_or_dan }}</td>
      <td>{{ competitor.years_training }}</td>
      <td>{{ competitor.get_school_display }}</td>
      <td>{% if competitor.waiver %}Y{% else %}N{% endif %}</td>
      <td>{% if competitor.paid %}Y{% else %}N{% endif %}</td>
    </tr>
  {% endfor %}
  </table>
  <br>
{% else %}
  <p class="error">No competitors currently checked in.</p>
{% endif %}
</div>

<p>The following people are preregistered for this event, but not checked in:</p>
<div class="centered">
{% if competitors_prereg %}
  <table>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Rank</th>
      <th>Years Training</th>
      <th>School</th>
      <th>Waiver?</th>
      <th>Paid?</th>
    </tr>
  {% for competitor in competitors_prereg %}
    <tr class="{%cycle 'green' 'blue' %}">
      <td><a href="{% url 'tourny:competitor_detail' competitor.pk %}">{{ competitor.name }}</a></td>
      <td>{{ competitor.gender }}</td>
      <td>{{ competitor.age }}</td>
      <td>{{ competitor.rank }} {{ competitor.kyu_or_dan }}</td>
      <td>{{ competitor.years_training }}</td>
      <td>{{ competitor.get_school_display }}</td>
      <td>{% if competitor.waiver %}Y{% else %}N{% endif %}</td>
      <td>{% if competitor.paid %}Y{% else %}N{% endif %}</td>
    </tr>
  {% endfor %}
  </table>
  <br>
{% else %}
  <p class="error">No competitors currently preregistered.</p>
{% endif %}
</div>

<p>If you are ready to start generating brackets for this event, click
  <b><a href="{% url 'tourny:event_open' event.pk %}">here</a></b>.  Opening
  the event will automatically add all people preregistered and checked in
  into the event.  After opening, you will also have the option of manually
  adding and removing competitors.</p>

{% else %}
{# ================================================================== #}
{#                  Event has been opened.                            #}
{# ================================================================== #}

<p>The event is now open.  You can generate a bracket from the link on the
  main events page, or just by clicking
  <a href="{% url 'tourny:event_bracket' event.pk %}">here</a>.
  If you've opened this event by accident, or you want to go back to the original
  roster you can always reset the event by clicking
  <a href="{% url 'tourny:event_reset' event.pk %}">here</a>.

{% if event.state == 'O' %}
<p>The following people are currently in this event:</p>
<div class="centered">
{% if event_competitors %}
<form action="{% url 'tourny:event_remove_competitors' event.pk %}" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <th>Remove</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Rank</th>
      <th>Years Training</th>
      <th>School</th>
      <th>Waiver?</th>
      <th>Paid?</th>
    </tr>
  {% for competitor in event_competitors %}
    <tr class="{%cycle 'green' 'blue' %}">
      <td><input type="checkbox" name="remove" value="{{ competitor.pk }}"/></td>
      <td><a href="{% url 'tourny:competitor_detail' competitor.pk %}">{{ competitor.name }}</a></td>
      <td>{{ competitor.gender }}</td>
      <td>{{ competitor.age }}</td>
      <td>{{ competitor.rank }} {{ competitor.kyu_or_dan }}</td>
      <td>{{ competitor.years_training }}</td>
      <td>{{ competitor.get_school_display }}</td>
      <td>{% if competitor.waiver %}Y{% else %}N{% endif %}</td>
      <td>{% if competitor.paid %}Y{% else %}N{% endif %}</td>
    </tr>
  {% endfor %}
  </table>
  <br>
  <input type="submit" value="Remove selected people">
</form>
{% else %}
<p class="error">No competitors currently in this event.</p>
{% endif %}
</div>

<p>The following people are registered for this event but not currently in:</p>
<div class="centered">
{% if event_competitors_prereg %}
<form action="{% url 'tourny:event_add_competitors' event.pk %}" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <th>Add</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Rank</th>
      <th>Years Training</th>
      <th>School</th>
      <th>Waiver?</th>
      <th>Paid?</th>
    </tr>
  {% for competitor in event_competitors_prereg %}
    <tr class="{%cycle 'green' 'blue' %}">
      <td><input type="checkbox" name="add" value="{{ competitor.pk }}"/></td>
      <td><a href="{% url 'tourny:competitor_detail' competitor.pk %}">{{ competitor.name }}</a></td>
      <td>{{ competitor.gender }}</td>
      <td>{{ competitor.age }}</td>
      <td>{{ competitor.rank }} {{ competitor.kyu_or_dan }}</td>
      <td>{{ competitor.years_training }}</td>
      <td>{{ competitor.get_school_display }}</td>
      <td>{% if competitor.waiver %}Y{% else %}N{% endif %}</td>
      <td>{% if competitor.paid %}Y{% else %}N{% endif %}</td>
    </tr>
  {% endfor %}
  </table>
  <br>
  <input type="submit" value="Add selected people">
</form>
{% else %}
<p class="error">No more preregistered competitors.</p>
{% endif %}
</div>

<p>All the other competitors are listed here.  These people are not registered for this event, but you can manually add people:</p>
<div class="centered">
{% if other_competitors %}
<form action="{% url 'tourny:event_add_competitors' event.pk %}" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <th>Add</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Rank</th>
      <th>Years Training</th>
      <th>School</th>
      <th>Waiver?</th>
      <th>Paid?</th>
    </tr>
  {% for competitor in other_competitors %}
    <tr class="{%cycle 'green' 'blue' %}">
      <td><input type="checkbox" name="add" value="{{ competitor.pk }}"/></td>
      <td><a href="{% url 'tourny:competitor_detail' competitor.pk %}">{{ competitor.name }}</a></td>
      <td>{{ competitor.gender }}</td>
      <td>{{ competitor.age }}</td>
      <td>{{ competitor.rank }} {{ competitor.kyu_or_dan }}</td>
      <td>{{ competitor.years_training }}</td>
      <td>{{ competitor.get_school_display }}</td>
      <td>{% if competitor.waiver %}Y{% else %}N{% endif %}</td>
      <td>{% if competitor.paid %}Y{% else %}N{% endif %}</td>
    </tr>
  {% endfor %}
  </table>
  <br>
  <input type="submit" value="Add selected people">
</form>
{% else %}
<p class="error">No other competitors.</p>
{% endif %}
</div>

{% else %} 
{# ================================================================== #}
{#                  Event has finished.                               #}
{# ================================================================== #}
<p>The event is now finished.<p>

{% endif %}
{% endif %}

{% endblock %}
