{% extends "tourny/base.html" %}

{% block main %}

<h2>
  Event Detail - 

  {{ event.name }}
  ::
  {% if event.event_type == 'A' %}Kata{% endif %}
  {% if event.event_type == 'U' %}Kumite{% endif %}
  {% if event.event_type == 'B' %}Boston Battle{% endif %}
  ::
  {% if event.gender == 'M' %}Male{% endif %}
  {% if event.gender == 'F' %}Female{% endif %}
  {% if event.gender == 'B' %}Both{% endif %}
  ::
  {% if event.age == 'Y' %}Youth{% endif %}
  {% if event.age == 'C' %}College{% endif %}
  {% if event.age == 'O' %}Older{% endif %}
  {% if event.age == 'N' %}College & Older{% endif %}
  {% if event.age == 'A' %}All{% endif %}
  ::
  {% if event.experience == 'B' %}Beginner{% endif %}
  {% if event.experience == 'I' %}Intermediate{% endif %}
  {% if event.experience == 'A' %}Advanced{% endif %}
  {% if event.experience == 'L' %}All{% endif %}
</h2>

<p>The following people are registered and checked in:</p>
<table cellpadding="5">
{% for competitor in competitors %}
{% if competitor.paid and competitor.waiver %}
  <tr>
    <td>{{ competitor.name }}</td>
    <td>{{ competitor.rank }} {{ competitor.kyu_or_dan }}</td>
    <td>{{ competitor.years_training }}</td>
    <td>{{ competitor.age }}y</td>
  </tr>
{% endif %}
{% endfor %}
</table>

<p>The following people are registered but not checked in:</p>
<table cellpadding="5">
{% for competitor in competitors %}
{% if competitor.paid and competitor.waiver %}
{% else %}
  <tr>
    <td>{{ competitor.name }}</td>
    <td>{{ competitor.rank }} {{ competitor.kyu_or_dan }}</td>
    <td>{{ competitor.years_training }}</td>
    <td>{{ competitor.age }}</td>
  </tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}
