{% extends "tourny/base.html" %}

{% block main %}

<h2>Events</h2>

<p>This page allows you to create, modify and delete events.  To create an event, use the link in the next paragraph.  To modify an event, click on "Competitors" or "Teams" to change the event roster.  You cannot change properties of an event like divison, age, etc. - instead, simply create a new event with the properties you want.  To open an event and generate a bracket, follow the link from the Competitors/Teams link.  Once the event is finished, follow the "Winners" link to enter winners.  Note that after you enter the winners of an event, you will no longer be able to change the roster.</p>

<p>Click <a href="{% url 'tourny:event_add' %}"><b>here</b></a> to add a new event.</p>
{% if events %}
<p>Currently created events:</p>
<div class="centered">
<form action="{% url 'tourny:event_delete' %}" method="post">
{% csrf_token %}
<table cellpadding="5">
  <tr>
    <th>Delete</th>
    <th>Name</th>
    <th>Type</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Experience</th>
  </tr>
  {% for event in events %}
  <tr class="{%cycle 'green' 'blue' %}">
    <td><input type="checkbox" name="delete" value="{{ event.pk }}"/></td>
    <td>{{ event.name }}</td>
    <td>{{ event.get_event_type_display }}</td>
    <td>{{ event.get_gender_display }}</td>
    <td>{{ event.get_age_display }}</td>
    <td>{{ event.get_experience_display }}</td>
    <td>
      {% if event.state != 'F' %}
      {% if event.team_event %}
      <a href="{% url 'tourny:event_detail_team' event.pk %}">Teams</a>
      {% else %}
      <a href="{% url 'tourny:event_detail' event.pk %}">Competitors</a>
      {% endif %}
      {% endif %}
    </td>
    {% if event.state == 'O' %}
    <td><a href="{% url 'tourny:event_bracket' event.pk %}">Bracket</a></td>
    <td><a href="{% url 'tourny:event_winners' event.pk %}">Winners</a></td>
    {% endif %}
    {% if event.state == 'F' %}
    <td><a href="{% url 'tourny:event_bracket' event.pk %}">Bracket</a></td>
    <td><a href="{% url 'tourny:event_winners' event.pk %}">Winners</a></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
<br>
<input type="submit" value="Delete selected events"/>
</form>
</div>
{% else %}
<p><span class="error">No events created yet.</span>  To generate the default set of events, please click <a href="{% url 'tourny:generate_default_events' %}">here</a>.</p>
{% endif %}
<br>

{% endblock %}
