{% extends "tourny/base.html" %}

{% block main %}

<h2>Events</h2>

<p>This page allows you to create, modify and delete events.  You can also
  generate brackets and enter results from a finished event.</p>

{% if events %}
<div class="centered">
<form action="{% url 'tourny:event_delete' %}" method="post">
{% csrf_token %}
<table cellpadding="5">
  <tr>
    <th>Delete</th>
    <th>Name</th>
    <th>Type</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Experience</th>
  </tr>
  {% for event in events %}
  <tr class="{%cycle 'green' 'blue' %}">
    <td><input type="checkbox" name="delete" value="{{ event.pk }}"/></td>
    <td>{{ event.name }}</td>
    <td>{{ event.get_event_type_display }}</td>
    <td>{{ event.get_gender_display }}</td>
    <td>{{ event.get_age_display }}</td>
    <td>{{ event.get_experience_display }}</td>
    <td>
      {% if event.team_event %}
      <a href="{% url 'tourny:event_detail_team' event.pk %}">Teams</a>
      {% else %}
      <a href="{% url 'tourny:event_detail' event.pk %}">Competitors</a>
      {% endif %}
    </td>
    {% if event.state == 'O' %}
    <td><a href="{% url 'tourny:event_bracket' event.pk %}">Bracket</a></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
<br>
<input type="submit" value="Delete selected events"/>
</form>
</div>
{% else %}
<p><span class="error">No events created yet.</span>  To generate the default set of events, please click <a href="{% url 'tourny:generate_default_events' %}">here</a>.</p>
{% endif %}
<br>

{% endblock %}
