{% extends "base.html" %}

{% load staticfiles %}

{% block main %}
<h1>Contact</h1>
<p>Please don't hesitate to contact the tournament committee if
  you have any questions, comments, feedback.

<p>The tournament committee can be reached by emailing</p>

<p><img src="{% static 'images/tournament-email.png' %}" alt="mail"></p>

<p> or by calling 617-827-4094 </p>

<p>The Battle for Boston is sponsored by the
  <a href="http://neckc.org/">New England Collegiate Karate
    Conference</a> and the <a href="http://nakf.org">North American
    Karate-do Foundation</a>. Both organizations operate under the
    auspices of <a href="tabata">Shihan Kazumi Tabata</a>, 8-dan.</p>
{% endblock %}
