{% extends "base.html" %}

{% block main %}
<h1>Directions</h1>

    <p>The tournament is being held at the Tufts University Cousens Basketball Court.</p>

     <iframe width="700" height="700" frameborder="0"
        scrolling="no" marginheight="0" marginwidth="0"
        src="http://maps.google.com/maps?q=161+college+ave,+medford,+ma&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hq=&amp;hnear=161+College+Ave,+Medford,+Middlesex,+Massachusetts+02155&amp;gl=us&amp;ei=V4SeS6HbLoGYtgfQ3aSHBg&amp;ved=0CAgQ8gEwAA&amp;z=16&amp;ll=42.408078,-71.116154&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=161+college+ave,+medford,+ma&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hq=&amp;hnear=161+College+Ave,+Medford,+Middlesex,+Massachusetts+02155&amp;gl=us&amp;ei=V4SeS6HbLoGYtgfQ3aSHBg&amp;ved=0CAgQ8gEwAA&amp;z=16&amp;ll=42.408078,-71.116154&amp;source=embed"
        style="color:#0000FF;text-align:left">View Larger Map</a></small>
{% endblock %}
