{% extends "base.html" %}

{% block main %}
<h1>Events</h1>

<h2>Cost</h2>
<p>The Battle for Boston is intended to be a tournament
  accessible to college-aged individuals, and as such is run as a
  not-for-profit tournament by
  the <a href="http://nakf.org">NECKC/NAKF</a>, non-profit
  organizations dedicated to teaching karate. Because of this, a
  primary concern of the tournament directors is that competitors
  are not prevented from competing due to cost. However, some
  entry fees are required in order to pay for EMTs, facilities
  rental, trophies, and other expenses.</p>

<p>The NAKF/NECKC does not want tournament costs to prevent
  individuals from competing. Please <a href="contact">contact the
  tournament director</a> if registration fees would prevent
  participation. However, due to the non-profit nature of the
  NAKF/NECKC, our ability to provide assistance is limited.</p>

<p>There is no cost for spectators to attend, so encourage
  your friends and family to come watch you compete.</p>

<h2><a name="safety">Safety Equipment</a></h2>

<p>For all <b>sparring competitions</b>, competitors are
  expected to dress in appropriate clothing (such as a Gi). All
  competitors are required to wear safety equipment including a
  groin protector, a chest protector for women, a mouthguard,
  shin/instep pads, and karate mitts. Karate mitts must be
  non-cloth (i.e. dipped foam).</p> 

<p>Head protection is <b>required</b> for beginners, and may be required
  in other divisions. A limited number of headgear will be available
  for loan, but competitors should plan on providing their
  own.</p>

<h2>Divisions</h2>
<p>Competitive tournament events are divided into 3 divisions based on
  karate experience. Kumite events are further divided based on gender
  and age. The age divisions are college age (current undergraduate or
  graduate student or under 25), and older division (25 or older if
  not a student).</p>

<p>You can determine your division from the table below. Note that the
kyu ranks provide a maximum level to compete in that division - you
can always compete higher.</p>

      <div class="centered">
        <table border="1" cellpadding="4">
          <tr><th align="left">If you have been training</th><th align="left">Or your rank is</th><th align="left">Your division is</th></tr>
          <tr><td>< 12 months</td><td>10th - 7th Kyu</td><td>Beginner</td></tr>
          <tr><td>12 months - 2 years</td><td>6th - 4th Kyu</td><td>Intermediate</td></tr>
          <tr><td>2 years +</td><td>3rd - 1st Kyu or a Dan rank</td><td>Advanced</td></tr>
        </table>
      </div>

   <h2>Overview</h2>
      
      <p>Judging is based on the <a href="http://www.wkf.net/">World
      Karate Federation</a> guidelines, modified slightly to make the
      rules applicable to martial artists from other styles, and for
      brevity in other events.</p>

      <p>Events taking place in The Battle for Boston
      are <a href="#kata">kata (forms) and weapons kata
      kata</a>, <a href="#kumite">kumite (sparring)</a>,
      and <a href="#bbattle">Boston
      Battle</a>. <a href="#kata">Kumite</a> events
      and <a href="#bbattle">Boston Battle</a> require
      additional <a href="#safety">safety equipment</a>.</p>

      <p>The overall list of events is:</p>
      <ul>
	<li>Individual Kumite</li>
	<ul>
	  <li>Division splits for gender (men, women), age (Youth,
	  College, Older), experience (beginner, intermediate,
	  advanced).</li>
	</ul>
	<li>Individual Kata</li>
	<ul>
	  <li>Division splits for age (Youth, College and Older), and
	    experience (beginner, intermediate, advanced). Weapons
	    kata available for advanced skill, college and older
	    divisions only.</li>
	</ul>
	<li>Team Kumite</li>
	<ul>
	  <li>College age and older divisions only, all are in one
	  single division.  Teams of 3 spar one on one.</li>
	</ul>
	<li>Team Kata</li>
	<ul>
	  <li>College age beginners only, involves 5 members teams
	    performing the first five Heian kata against each other.</li>
	</ul>
        <li><a href="#bbattle">Boston Battle</a></li>
      </ul>
      <p>Note that the tournament director reserves the right to make
      further divisions in the events or to merge divisions if
      needed.</p>

      <h2><a name="kata">Kata (and Weapon Kata)</a></h2>
      <p>Kata divisions are split into the three experience brackets,
      and two age brackets (Youth in one, College and Older in
      another), but are coed. In the event of large divisions, the
      competitors will be split randomly into smaller groups, with the
      winners of each group competing in a "finals" event for that
      division. Individuals wishing to perform weapon kata in the
      advanced division may do so freely.</p>

      <p>Kata are not required to be from Shotokan Karate (in
      the past, competitors have used forms from Kung Fu, Ueichi Ryu,
      and other martial arts styles). The basic judging criteria can
      be found in
      the <a href="http://www.wkf.net/images/stories/downloads/version_6_january_2009_eng.pdf">WKF
      Kata Rules</a>, however, judging in initial rounds will be done
      using "Olympic Style" scoring instead of side-by-side
      matches. In the finals, side-by-side matches may be used to
      determine the winner. In finals, competitors may perform the
      same kata they used previously, or perform a new kata. Bunkai
      are not required.</p>

      <p>The primary judging criteria are independent of whether the
      competitor is doing Shotokan Karate, or is using a weapon. Kata
      is not a dance or theatrical performance. It must be realistic in
      fighting terms and display concentration, power, and potential
      impact in its techniques. It must demonstrate strength, power,
      and speed -- as well as grace, rhythm, and balance. Specific
      criteria include:</p>
      <ul>
        <li>Realistic Interpretations of Kata meaning.</li>
        <li>Timing, rhythm, speed, balance, and focus of power are
        appropriate.</li>
        <li>Correct use of breathing.</li>
        <li>Correct focus of attention and concentration.</li>
        <li>Correct and stable stances.</li>
        <li>Proper tension in the abdomen and smooth movement.</li>
        <li>Kata appropriateness for the skill level of the
        competitor.</li>
      </ul>
    <h2><a name="kumite">Kumite</a></h2>
      <p> There are kumite events in all 3 experience divisions, with
      separate events for men and women.  In addition, we divide based
      on age, with <b>youth</b> in one category, <b>college
      division</b> in a second and <b>older division</b> in a
      third. Very large divisions will be split randomly and the
      winners will compete in a final round to determine the overall
      winner.</p>

      <p><a href="#safety">Safety equipment</a> is <b>required</b> to
      participate in kumite.</p>

      <p>Kumite is scored using a variant of the
      <a href="http://www.wkf.net/images/stories/downloads/version_6_january_2009_eng.pdf">WKF
      Kumite Rules</a>.</p>

      <p>Each regular kumite bout will last three minutes in advanced
      divisons, and two minutes for intermediate and beginner
      divisions. The result of each bout is determined by a contestant
      obtaining a clear lead of eight points, or at time-up having the
      highest number of points. In the event of a tie, an extra
      deciding bout not exceeding one minute will be fought. If after
      the extra deciding bout there is still a tie, the decision will
      be made by a vote of the referee and judges.</p>

      <p>Valid targets to aim for are the head, face, neck, abdomen,
      chest, back, and side. However, for safety reasons no contact is
      allowed to the head, face, or neck except in the advanced
      division where light contact to the head and face is allowed. In
      no situation is contact to the throat permitted, and this will
      result in disqualification. Points are awarded as follows:</p>

      <ul>
        <li>Ippon -- One Point -- Punch or strike to any valid target</li>
        <li>Nihon -- Two Points -- Kick to abdomen, chest, back, or side</li>
        <li>Sanbon -- Three Points -- Kick to head targets or any
        strike delivered on an opponent who has been thrown or fallen</li>
      </ul>

   <p>To be scored, a technique must be made with good form, a
      sporting attitude, vigorous application, awareness, good timing,
      and correct distance. The tournament floor is not padded, so
      the throws which are allowed is limited for safety reasons.</p>

      <p>There are also a variety of techniques or behavior which are
      prohibited for safety reasons or to encourage a good competitive
      environment and will result in a penalty. These include</p>

      <ul>
        <li>Excessive contact or throat contact.</li>
        <li>Attacks to arms, legs, groin, joints, or instep.</li>
        <li>Attacks to the face with open hand techniques.</li>
        <li>Dangerous or forbidden throwing techniques.</li>
        <li>Feigning injury.</li>
        <li>Repeatedly leaving the ring.</li>
        <li>Self-endangerment.</li>
        <li>Avoiding combat to prevent the opponent from having an
        opportunity to score.</li>
        <li>Clinching, wrestling, pushing, seizing, or standing chest
        to chest without attempting a throw or other technique.</li>
        <li>Uncontrollable attacks.</li>
        <li>Attacks with the head, knees, or elbows.</li>
        <li>Discourteous behavior towards the opponent or referee.</li>
        <li>Attacks made outside of the ring, before the match is
        started, or after the referee ends the point.</li>
      </ul>

<h2><a name="teamkumite"> Team Kumite</a></h2>

<p>Team Kumite pits teams of 3 against each other in head to head
  combat. In each round, the members of the team fight in successive
  kumite bouts against the opposing team. Whichever team wins two or
  more of the bouts advances to the next round. As few as two members
  may form a team, but a lack of team members will result in forfeits
  for those matches, so all two members of the 2-man team must win
  their match in order to win.</p>

<p>All the usual rules for <a href="#kumite">Kumite</a> listed above
      apply to bouts in the Team Kumite competition.  Competitors must
      present a final fighting order to the head judge as well as the
      scoring table before the start of each round. No further changes
      to the fighting order are allowed until the start of the next
      round.  Any changes to the team roster due to injury must be
      approved by the head judge and head table, and are only
      permitted between rounds.</p>

<p> There is only one division for Team Kumite, composed of all
  ages, skills and genders.  We encourage competitors to form mixed
  gender teams.</p>

<h2><a name="teamkata">Team Kata (College division)</a></h2>

<p>Teams will consist of five members, but are coed and have no age
brackets. The experience level for this event is beginner only.
Members of opposing teams will perform the first five Heian kata, one
by one, side by side. Judges will decide which team performed the kata
best, and a point will go to that team; whichever team wins three or
more of the bouts advances to the next round. As few as three members
may form a team, but a lack of team members will result in forfeits
for those matches, so all three members of the 3-man team must win
their match in order to win.</p>

      <h2><a name="bbattle">Boston Battle</a></h2>
      
      <p> Boston Battle is a portion of the NECKC/NAKF tournaments
      that was created by Master Tabata. It is unique to NECKC/NAKF
      tournaments and tends to excite all those who attend.</p>

      <p>Boston Battle is normally held at the end of the tournament,
      after all kata and kumite divisions are competed but before the
      formal close of the tournament.</p>
    <p>Boston Battle is a two-on-two kumite competition that uses
      the entire gymnasium space as its competition ring. Because of
      the size of the competition area, all judges that participated
      in the tournament are used for the competition. In most cases
      there are a minimum of six judges watching the ring.</p>

      <p>Competitors start from opposite ends of the competition space
      and approach each other only when the head judge calls out to
      begin. The object is to score upon someone of the opposite team
      while avoiding getting scored upon. If someone from one of the
      teams gets scored upon, that person returns to the sideline and
      kneels. Their teammate then faces the other team for a
      two-on-one match. If the remaining member scores a point on one
      of the other team, that person sits down at the sideline of the
      ring, and the match becomes a one-on-one match. If both members
      of a team are scored upon, the scoring team gets a
      point. Matches go to two points.</p>

      <p><a href="#safety">Safety equipment</a> for Boston Battle is
      <b>mandatory</b>. Other than that, the rules of going outside
      the ring, warnings (except for excessive contact or continuing
      after the judges call a halt), and general sparring are
      waived.</p>

      <p>Anyone can compete in Boston Battle if they have two members
      for the team. The event is open to men and women of at least 18
      years of age. The competition is coed.</p>

      <p>Boston Battle is not recommended for the novice fighter. The
      tournament director has the final say in who is able to compete
      in this event due to the nature of the event.</p>

{% endblock %}
