{% extends "base.html" %}

{% block main %}
<h3>The annual <a href="http://nakf.org">NECKC/NAKF</a></h3>
<h1>BATTLE FOR BOSTON</h1>

<p>will be held on <b>Sunday October 26, 2013</b> at
the <b><a href="directions">Boston University Fitness and Recreation
Center (915 Commonwealth Avenue, Boston MA)</a></b>.</p>

<p>The registration table will open at 9am and close at 11am for the
youth division and at 1pm for college age and older.  To preregister
for individual and team events online, please use
our <a href="register">registration page</a>.

<p>This event features high-level martial arts competition with
competitors of various ages for a low entry fee. There will be 3
general age divisions: youth, college, and an older division.  The
youth division will run from 11am to 1pm, and the college and older
divisions will begin at 1pm.  The event is excellent for adult
beginners, with a focus on providing a solid learning experience over
winning prizes.</p>

<p>The tournament also features the unique
  competition, <b><a href="events#bbattle">BOSTON BATTLE</a></b>,
  which is <b>2-vs-2</b> head-to-head sparring using the entire
  gymnasium as a ring. This event is very exciting, and we encourage
  advanced participants to sign up for this team event.</p>

<h4>College Division Team Kata</h4>
<p>This year, in addition to individual Kata, individual and team
Kumite, and the Battle for Boston, we are offering a college division
for team kata. College teams of five will compete against each other
by performing the 5 Heian kata head to head. Scoring is by simple
selection of the better performance, and the best of 5 wins.  This
event is separate from the main tournament events for which you must
register through our <a href="register">registration page</a>.

<p>The tournament is judged by traditional Shotokan rules with one
score for one point without regard to target area or attack type so
long as the attack is made using good karate form (as defined in the
WKF rules), with "light touch" contact to score points
in <a href="events#kumite">kumite</a>. The <a href="events#kata">kata
event</a> is scored via "olympic style" scoring, with side-by-side
judging in finals. Kata should be appropriate for the participant's
skill level. More information about the events can be found on
our <a href="events">events</a> page.</p>
  
<p>Spectators get in for free, and are encouraged to come watch all the competitions and exhibitions!</p>
{% endblock %}
