{% extends "base.html" %}

{% block main %}
<h3>The annual <a href="http://nakf.org">NECKC/NAKF</a></h3>
<h1>BATTLE FOR BOSTON</h1>

<p>will be held on <b>Sunday April 22, 2012</b> at the <b><a href="directions.shtml">Tufts University Cousens Gym (Rear).</a></b></p>

<p>The registration table will open at 9am and close at 11am for the start of the tournament. <b>Please register for individual events in the Battle for Boston (any non-college team events) at the <a href="http://nakf.org/Res_TournInfo.htm">NAKF</a> website.</b></p>

<p>This event features high-level martial arts competition with
  competitors limited to college age and over only (18+), for a low
  entry fee. The event is excellent for adult beginners, with a focus on
  providing a solid learning experience over winning prizes.</p>

<p>The tournament also features the unique
  competition, <b><a href="events.shtml#bbattle">BOSTON BATTLE</a></b>,
  which is <b>2-vs-2</b> head-to-head sparring using the entire
  gymnasium as a ring. This event is very exciting, and we encourage
  advanced participants to sign up for this team event.</p>

<h4>College Division</h4>
<p>This year, in addition to individual and team Kata, team Kumite, and the Battle for Boston, we are offering a college division for Team events. College teams of five will compete against each other in kata and kumite. Teams may rotate through competitors in sequential rounds of the tournament to allow a team larger than five to participate. Similarly, the team for kata and the team for kumite may be different. These events are separate from the main tournament events for which you must register through <a href="http://nakf/org/">The NAKF</a></p>

<p>Please <a href="contact.shtml">contact the tournament committee</a>
  if you would like to perform a demonstration! This is a great
  opportunity to expose other martial artists to your style of martial
  arts!</p>

<p>The tournament is judged by traditional Shotokan rules with one score for one point without regard to target area or attack type so long as the attack is made using good karate form (as defined in the WKF rules), with "light touch" contact to score points in <a href="events.shtml#kumite">kumite</a>. The <a href="events.shtml#kata">kata event</a> is scored via "olympic style" scoring, with side-by-side judging in finals. Kata should be appropriate for the participant's skill level. More information about the events can be found on our <a href="events.shtml">events</a> page.</p>
  
<p>Spectators get in for free, and are encouraged to come watch all the competitions and exhibitions!</p>
{% endblock %}
