{% extends "base.html" %}

{% load staticfiles %}

{% block main %}
<p><img src="{% static "images/crest.png" %}"></p>

<h2>Master Kazumi Tabata</h2>
<p>An 8th degree black belt, Master Tabata is the founder and
  head of the North American Karate-do Foundation - NAKF, in
  1967, as well as of the New England Collegiate Karate
  Conference - NECKC, in 1968.</p>

<p>He is in direct line from the founder of the Shotokan
  style, Master Gichin Funakoshi. His teacher, Master Iso Obata,
  was one of Gichin Funakoshi's first students and the first
  chairman of the  Japan Karate Association.</p>

<p>Master Tabata was sent from Japan to promote Karate in
  North America in late 60's. He has done so most effectively,
  building a large Karate organization in the North East. He was
  captain of the US Karate team for two decades, representing
  the US at many international tournaments. In addition, he was
  technical advisor to the US National Olympic Committee.</p>

<p>Now retired from these official functions, Master Tabata is
  currently putting finishing touches on his principal book on
  the Tabata path to Shotokan Karate, an analysis of the
  philosophical foundations and exercise of Shotokan. He is
  actively instructing the students from NAKF and NECKC as head
  instructor and certifies instructors for the NAKF and
  NECKC.</p>

<p>Master Tabata has recently published a new
  book! <a href="http://www.amazon.com/Mind-Power-Secret-Strategies-Martial/dp/0804841098/ref=ntt_at_ep_dpi_2/191-8563587-5225124">Mind
    Power -- Secret Strategies for the Martial Arts</a> is 
  available on Amazon.com! In Mind Power, Master Tabata
  offers his personal teachings as to how martial arts students
  can reach the point where times seems to slow down, quick
  movements are seen in slow motion, and the full potential of
  ones inner power can be harnessed.</p>

<p>Master Tabata has published two other books
  previously, <a href="http://www.amazon.com/gp/product/B0007AI4XS/ref=cm_pdp_rev_itm_img_2">Power
    Karate, Basic Karate Techniques for Colleges (1974)</a> and
  <a href="http://www.amazon.com/Secret-Tactics-Lessons-Masters-Martial/dp/0804834881/ref=sr_1_3?ie=UTF8&s=books&qid=1268697059&sr=8-3">Secret
    Tactics: Lessons from the Great Masters of Martial Arts
    (2003)</a> as well as a video of self defense techniques
  (Ko-bo). Master Tabata has also released his video of the
  Shotokan Kata to the level of Blue Belt (downloadable
  below).</p>

<p><a rel="license"
      href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative
									    Commons License" style="border-width:0"
								       src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png"
								       /></a><br /><span xmlns:dc="http://purl.org/dc/elements/1.1/"
											 href="http://purl.org/dc/dcmitype/MovingImage"
											 property="dc:title" rel="dc:type"><a href="http://web.mit.edu/shotokan/Tabata Shotokan Kata.avi">
      Shotokan Kata to Blue Belt</a></span>
  by <a xmlns:cc="http://creativecommons.org/ns#"
        href="http://neckc.org/" property="cc:attributionName"
        rel="cc:attributionURL">Kazumi Tabata</a> is licensed under
  a <a rel="license"
       href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative
    Commons Attribution-Noncommercial-No Derivative Works 3.0
    United States License</a>.</p>
<p>Note that in order to view this video, you will need to be
  able to play video made using h.264 and mp3. Some older
  windows and macintosh computers do not support this
  technology. In order to view this video, you can use
  <a href="http://www.videolan.org/vlc/">VLC</a>, a free and
  open-source media player. If you would rather use your
  existing media player on windows, you may be able to play the
  video by installing
  the <a href="http://sourceforge.net/projects/ffdshow/">FFdshow</a>
  video codec.</p>
{% endblock %}
